:root{
    --main-color:#db3e3e;
    --black:#151515;
    --bg:#000000;
    --border:.1rem solid rgba(255,255,255,.3);
    --background-img: url(../images/home-img.jpg);
}

*{
    font-family: sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
}

body{
    background: var(--bg);
}

section{
    padding: 1rem 5%;
}

.title{
    padding-top: 10%;
    padding-bottom: 3%;
    background:var(--black);
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.title span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: .2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.9rem;
    color:#fff;
    text-shadow: 1px 2px 3px #575757;
    background: var(--main-color);
    cursor: pointer;
    text-transform: none;
    
}

.btn:hover{
    letter-spacing: .1rem;
}

header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

header .logo img{
    height: 6rem;
}

header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    text-transform: none;
    color:#fff;
}

header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    padding-bottom: .2rem;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: var(--background-img);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
    text-shadow: 1px 2px 3px var(--black);
}

.home .content p{
    font-size: 1.7rem;
    font-weight: normal;
    text-transform: none;
    line-height: 1.9;
    padding: 1.2rem 0;
    color:#fff;
    text-shadow: 1px 2px 3px var(--black);
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    text-transform: none;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    text-transform: none;
    padding:1rem 0;
    line-height: 1.8;
}

.produkty .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.produkty .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.produkty .box-container .box .image{
    padding: 2.5rem 0;
}

.produkty .box-container .box .image img{
    height: 25rem;
}

.produkty .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.produkty .box-container .box .content .stars{
    padding: 1.5rem;
}

.produkty .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.produkty .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.produkty .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.kontakt .row{
    padding-left: .4rem;
    padding-right: .4rem;
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.kontakt .row .map{
    padding: .1rem;
    flex:1 1 0rem;
    width: 100%;
    object-fit: cover;
}

.kontakt .row form{
    flex:1 1 40rem;
    padding: 2rem;
    text-align: center;
}

.kontakt .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.kontakt .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.kontakt .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
    background:none;
}

#from-form{
        width: 100%;
    padding:2rem;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
    background:none;
}

footer{
    background:var(--black);
    text-align: center;
}

footer .social-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

footer .social-links a{
    padding:.3rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 1.7rem;
}

footer .social-links a:hover{
    background:var(--main-color);
}

footer .copyright{
    font-size: 1.5rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

footer .copyright span{
    color:var(--main-color);
}


/* Nastaveni pro kompatibilitu zobrazeni na ruznych zarizenich */

@media (max-width:800px)
{
 /*   .navbar{
        position: inherit;
        width: 24%;
        top: 8rem;
        right: 0%;
        background-color: var(--bg);
    }
    
    .navbar a{
        display: block;
        text-align: center;
        padding: 1.6rem 0;
    }*/

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
    
    .title{
        padding-top: 20%;
        padding-bottom: 3%;
    }

}